body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-size: small;
}

.search {
  padding-top: 40px;
  width: 900px;
  display: block;
  margin: 0 auto;
}

.search img {
  display: block;
  margin: auto;
  padding-top: 112px;
}

.search .text {
  display: block;
  margin: 10px auto 0 auto;
  width: 575px;
  padding: 12px 12px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  box-shadow: 0 1px 3px #dcdcdc;
}

.search .text:hover {
  box-shadow: 0 3px 6px #dcdcdc;
}

.search input {
  border:none;
  font-family: arial, sans-serif;
  font-size: 14px;
  width: 525px;
  display: inline-block;
}

input {
  outline: none;
}

.buttons button {
  display: inline-block;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #777777;
  margin: 14px 2px;
  padding: 9px 15px;
  outline:none;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.buttons button:hover {
  border: 1px solid #b5b5b5;
  color: black;
}

.buttons {
  text-align: center;
  width: 400px;
  margin: auto;
}
.nav-right {
  text-align: right;
  padding-right: 15px;
  float: right;
  display: -webkit-flex;
  display: flex;
}
.nav-left {
  text-align: left;
  padding-left: 15px;
  float: left;
  display: -webkit-flex;
  display: flex;
}
.navbar {
  position: relative;
  top: 8px;
  height: 30px;
  margin-top: 15px;
  min-width: 100%;
  vertical-align: middle;
}
.navbar a {
  font-family: Arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: #000;
  opacity: 0.75;
  vertical-align: middle;
  padding-left: 15px;
}

.navbar a:hover {
  text-decoration: underline;
  vertical-align: middle;
}
.app_icon_bg:hover {
    opacity: .85;
}
.app_icon_bg {
  background-position: -132px -38px;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.app_icon{
  background-image: url('../images/google-themed-icons.png');
  background-size: 528px 68px;
  vertical-align: middle;
}
.g_avatar:hover {
    opacity: .85;
    padding-left: 0;
}
.g_avatar {
  vertical-align: middle;
  background-image: url('../images/avatar.png');
  background-size: 33px 33px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: right;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  height: 33px;
  width: 33px;
  z-index: 0;
  padding-left: 0;
}
.links-right {
  line-height: normal;
  padding-right: 15px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  font-size: 13px;
}
.navbar-buttons {
    vertical-align: middle;
  float: right;
  display: -webkit-flex;
  display: flex;
  height: 30px;
  width: 100%;
  clear: both;
}

.footer {
  min-width: 900px;
  border-top: #dedede solid 1px;
  height: 40px;
  background-color: #f2f2f2;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer a {
  line-height: 3;
  margin: 0 13px 0 13px;
  color: #696969;
  text-decoration: none;
  font-size: 13px;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-left {
  width: 250px;
  padding-left: 17px;
  float: left;
}

.footer-right {
  text-align: right;
  padding-right: 17px;
  width: 250px;
  float: right;
}
